/* You can add global styles to this file, and also import other style files */
body {
	font-family: Arial;
	font-size: 1em;
	height: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-size: 2em;
	font-family: Times;
}

section {
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
li {
	list-style-type: none;
}

a {
	color: #000033;
	text-decoration: none;
}

.art {
	background-color: #00009C;
}
